.note {
  min-height: 240px;
  width: 280px;
  margin: 10px;
}

#colorSelect {
  background: linear-gradient("#ffcccc", "#ccffcc", "#ccccff");
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

